* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

@mixin s-mobile {
  @media (max-width: 300px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 2600px) {
    @content;
  }
}

:root {
  --white-color: #f3f3f3;
  --gray-color: #737579;
  --blue-color: #2185d5;
  --light-dark-color: #101010;
  --dark-color: #000000;

  --font-sp-mono: "Space Mono", monospace;
  --font-roboto: "Roboto", sans-serif;
  --font-finger-paint: "Finger Paint", cursive;
  --font-fira-code: "Fira Code", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(19, 19, 19);
  background: -moz-radial-gradient(
    circle,
    rgba(19, 19, 19, 1) 0%,
    rgba(24, 24, 24, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(19, 19, 19, 1) 0%,
    rgba(24, 24, 24, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(19, 19, 19, 1) 0%,
    rgba(24, 24, 24, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131313",endColorstr="#181818",GradientType=1);
  color: var(--white-color);
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 120px;

  #particles-js {
    top: 0;
    left: 0;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }

  @include mobile {
    padding: 0 20px;
  }
}

section {
  margin: 0 auto;
  max-width: 1000px;
}

h2 {
  font-size: 32px;
}

a {
  color: var(--white-color);
  position: relative;
  text-decoration: none;
  transition: color 200ms;

  &:hover {
    color: var(--blue-color);
  }

  &.line {
    color: var(--blue-color);
  }

  &.line::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white-color);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }

  &:hover::before {
    transform: scaleX(1);
  }

  &.active::before {
    transform: scaleX(1);
  }

  &.icon {
    font-size: 20px;
    color: var(--gray-color);
    transition: 300ms;
    display: inline-block;

    &:hover {
      color: var(--blue-color);
      transform: translateY(-10px);
    }
  }
}

.btn {
  cursor: pointer;
  text-align: center;
  max-width: 300px;
  background-color: var(--white-color);
  color: var(--dark-color);
  transition: background 400ms;
  display: inline-block;
  padding: 10px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: inherit;

  &:hover {
    outline: 1px dashed var(--white-color);
    background-color: transparent;
    color: var(--white-color);
  }
}

@import "./navbar.scss";
@import "./home.scss";
@import "./about.scss";
@import "./social.scss";
@import "./menuAside.scss";