.home {
  height: 100vh;

  #particles-js {
    height: inherit;
    width: inherit;
    position: absolute;
  }

  .home-content {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .home-content__info {
      width: min-content;

      .title-home {
        font-family: "Finger Paint";
        font-style: normal;
        font-weight: 400;
        font-size: 128px;
        margin-bottom: 10px;
        -webkit-user-select: none;
        user-select: none;

        @include tablet {
          font-size: 100px;
          margin-bottom: 10px;
        }

        @include mobile {
          font-size: 50px;
        }

        @include s-mobile {
          font-size: 30px;
        }
      }

      .description {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        width: 90%;
        -webkit-user-select: none;
        user-select: none;
        margin-bottom: 30px;

        @include mobile {
          font-size: 10px;
        }
      }
    }
  }
}
