.home {
  height: 100vh;

  #particles-js {
    height: inherit;
    width: inherit;
    position: absolute;
  }

  .home-content {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-user-select: none;
    user-select: none;


    .home-content__info {
      .title-home {
        font-family: "Finger Paint";
        font-style: normal;
        font-weight: 400;
        font-size: 168px;
        margin-bottom: 10px;

        @include tablet {
          font-size: 100px;
          margin-bottom: 10px;
        }

        @include mobile {
          font-size: 60px;
        }

        @include s-mobile {
          font-size: 35px;
        }
      }

      .subtitle-home {
        color: var(--gray-color);
        font-family: 'Roboto', 'sans-serif';
        @include tablet {
          font-size: 20px;
        }
      }

      .description {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        margin: 30px 0;
        padding-right: 570px;

        @include tablet {
          font-size: 16px;
          padding-right: 0px;
          margin: 20px 0;
        }

        @include mobile {
          font-size: 14px;
        }
      }
    }
  }
}
