header {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  font-family: "Finger Paint", cursive;
  width: 100%;
  height: 95px;
  z-index: 99;
  transition: all 0.3s;
  // margin-top: 20px;

  h2 {
    cursor: pointer;
    position: relative;
    transition: all 300ms;
    &:hover {
      transform: rotate(-10deg);
    }
  }

  @include mobile {
    padding: 20px;
    h2 {
      font-size: 20px;
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    ol {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 30%;

      @include tablet {
        width: 60%;
      }

      li {
        position: relative;
        animation: fadeInDown;
        animation-duration: 2s
      }
      @include mobile {
        display: none;
      }
    }
  }
}
