header {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  font-family: "Finger Paint", cursive;
  width: 100%;

  h2 {
    cursor: pointer;
    transition: all 300ms;
    &:hover {
      transform: rotate(-10deg)
    }
  }

  @include mobile {
    padding: 20px;
    h2 {
      font-size: 20px;
    }
  }

  nav {
    width: 40%;
    ol {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      @include mobile {
        display: none;
      }
    }
  }
}
